<aside class="admin-sidebar">
  <div class="sidebar-block">
    <p class="sidebar-heading"><%= t("admin.nav.menu_heading") %></p>
    <div class="sidebar-menu">
      <% admin_navigation_items.each do |item| %>
        <% path = admin_navigation_link_path(item) %>
        <% classes = ["sidebar-link"] %>
        <% classes << "is-active" if current_page?(path) %>
        <%= link_to path, class: classes.join(" ") do %>
          <span class="sidebar-link-title"><%= item[:label] %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</aside>
