<template id="inline-validation-template">
  <div class="inline-validation" role="alert" data-inline-validation>
    <span class="inline-validation__icon" aria-hidden="true">!</span>
    <div class="inline-validation__text"></div>
  </div>
</template>
