<section class="account-section">
  <header class="section-header">
    <div>
      <p class="eyebrow"><%= t("account.dependents.edit_header.eyebrow") %></p>
      <h2><%= @form.english_name %></h2>
      <p><%= t("account.dependents.edit_header.subtitle") %></p>
    </div>
  </header>

  <%= render "account/dependents/form" %>
</section>
